*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #fff;
    --blue: #99c1b9;
    --blue-shadow: rgba(156,156,156,0.55);
    --blue-dark: #15616d;
    --blue-hover: #99c1b9;
    --orange: #EEAB6D;
    --orange-medium: #F0B67F;
    --orange-light: #f2d0a9;
    --gray-light: #f4f4f4;
}
body{
    display: block;
    overflow-x: hidden;
    /* font-family: 'Josefin Sans', sans-serif; */
}
.container{
    display: flex;
    flex-direction: column;
}

/* header ------------------------------------------ --> */

header{
    padding: 15px;
    width: 100vw;
    background-color: #f2d0a9dc;
    box-shadow: 0px 13px 17px -8px rgba(255, 214, 187, 0.55);
    position: fixed;
}
.box-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
header nav ul{
    display: flex;
}
header nav ul li, .buttons-menu{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    color: var(--white);
}
.button-menu{
    border: none;
    border-radius: 2px;
    background-color: #15616d;
    padding: 0 10px 0 10px;
    margin-right: 30px;
}
.button-menu:hover{
    background-color: #f4edea;
}
.button-menu a:hover{
    color: #15616d;
}
.box-nav a:hover{
    color: #15616d;
}
/* main - home ----------------------------------------- --> */

main{
    display: block;
    /* width: 100vw; */
    /* height: 100vh; */
}
.home{
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    /* background-color: #f4edea; */
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.home-greet, .home-figure{
    /* width: 400px; */
    max-width: 60vw;
    height: 300px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.initial-greet{
    color: #15616d;
    font-size: 1rem;
}
.home-greet h1{
    font-size: 3em;
}
.home-greet p{
    font-size: 1em;
}
.button-what-i-do{
    width: 120px;
    height: 35px;
    margin-top: 10px;
    border: none;
    border-radius: 2px;
    background-color: var(--orange-light);
    color: var(--blue-dark);
    font-weight: bold;
}
.button-what-i-do:hover{
    cursor: pointer;
    color: var(--blue-dark);
    /* background-color: #99c1b9; */
    background-color: var(--blue);
}

/* main - skills ----------------------------------------- --> */

.skills{
    background-color: var(--gray-light);
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-container{
    width: 80%;
    height: 150vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.skills-text{
    width: 50%;
    text-align: center;
    margin: 30px 0;
    color: var(--blue-dark);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
}
.skills-text h2{
    font-size: 1em;
}
.skills-text p{
    font-size: 0.6em;
    margin: 50px 0;
}
.skills-boxes{
    width: 65%;
    /* width: 650px; */
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.box-skill{
    width: 200px;
    height: 200px;
    background-color: var(--white);
    border: 2px solid var(--orange-light);
    border-radius: 3px;
    margin: 15px 10px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-skill:hover{
    background-color: var(--blue);
    border: none;
}
.skill{
    width: 40%;
    height: 60%;
    /* width: 100px; */
    /* height: 100px; */
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.skill .html5, .css, .js, .figma, .xd, .git{
    align-content: center;
    color: var(--blue-dark);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

/* main - quote ----------------------------------------- --> */

.quote{
    width: 100%;
    height: 90vh;
    background-color: var(--blue-dark);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-icon-text{
    /* width: 60%;
    height: 60%; */
    /* background-color: rgb(219, 219, 219); */
}
/* .quote-icon{
} */
.quote-text{
    margin-top: 80px;
    color: var(--white);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    font-weight: 400;
}
.author{
    margin-top: 80px;
    color: var(--white);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
}

/* main - project  ----------------------------------------- --> */

.projects{
    width: 100%;
    height: 170vh;
    background-color: var(--white);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.projects-container{
    width: 80%;
    height: auto;
    /* background-color: rgb(131, 131, 131); */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.projects-text{
    width: 50%;
    text-align: center;
    /* margin-top: 30px 0; */
    color: var(--blue-dark);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
}
.projects-text h2{
    font-size: 1em;
}
.projects-text p{
    font-size: 0.6em;
    margin: 50px 0;
}
.projects-boxes{
    width: 85%;
    height: auto;
    /* background-color: rgb(110, 110, 110); */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.box-project{
    width: 280px;
    height: 280px;
    background-color: var(--white);
    border: 2px solid var(--blue);
    border-radius: 3px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-project:hover{
    background-color: var(--blue);
    /* border: none; */
}
.project{
    width: 90%;
    height: 70%;
    /* background-color: rgb(223, 223, 223); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.project .portfolio-it, .aprendet-app, .artistic-portfolio {
    align-content: center;
    color: var(--blue-dark);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

/* main - contact  ----------------------------------------- --> */

.contact{
    width: 100%;
    height: 100vh;
    background-color: var(--gray-light);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.contact-container{
    width: 70%;
    height: 80%;
    background-color: var(--white);
    border-radius: 10px;
    border: 2px solid var(--orange-light);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.contact-box{
    width: 400px;
    height: 400px;
    /* background-color: rgb(235, 235, 235); */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact-me h2, .write-me h2{
    color: var(--blue-dark);
    font-size: 2em;
}
.contact-me p{
    color: var(--blue-dark);
    font-size: 1em;
    /* font-weight: lighter; */
}
.link-box{
    width: 300px;
    height: 40px;
    margin: 5px;
}
.link-box:hover{
    cursor: pointer;
}
.links li{
    list-style: none;
    display: flex;
    align-items: center;
}
.link-box a i:hover{
    color: #ECA15B;
}

/* .logo:hover{
    cursor: pointer;
    color: #ECA15B;
} */

.contact-link{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    color: var(--blue-dark);
}

/* formulario ---- */

form{
    width: 100%;
    height: 80%;
    /* background-color: rgb(192, 192, 192); */
    display: flex;
    flex-wrap: wrap;
}
.first-form-box{
    width: 100%;
    height: 20%;
    /* background-color: rgb(150, 150, 150); */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.second-form-box{
    width: 100%;
    height: 60%;
    /* background-color: rgb(109, 109, 109); */
}
.third-form-box{
    width: 100%;
    height: 20%;
    /* background-color: rgb(78, 78, 78); */
}
form ul{
    list-style: none;
}
label,input{
    display: block;
    margin-top: 5px;
}
label{
    color: var(--blue-dark);
    font-weight: 500;
}
input{
    width: auto;
    height: 40px;
}
input, textarea{
    border: none;
    border-radius: 10px;
    padding: 2px;
    
    background-color: var(--gray-light);
    color: #bbb;
}
textarea{
    width : 380px;
    height: 80px;
    margin-top: 2%;
}
.button-send{
    border: none;
    border-radius: 2px;
    background-color: var(--orange-light);
    padding: 10px 40px;
    margin-top: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: var(--blue-dark);
}
.button-send:hover{
    background-color: var(--blue-hover);
    color: var(--blue-dark);
}

/* footer  ----------------------------------------- --> */

footer{
    width: 100vw;
    height: 400px;
    background-color: var(--blue-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container{
    width: 500px;
    height: 200px;
    /* background-color: var(--gray-light); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-footer{
    height: auto;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu-footer ul{
    display: flex;
}
.menu-footer ul li{
    list-style-type: none;
}
.menu-footer ul li a{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none;
    color: var(--blue);
}
.menu-footer ul li a:hover{
    color: var(--gray-light);
}
.icons{
    margin: 20px 0;
}
.icons ul{
    display: flex;
}
.icons ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons ul li a img{
    margin-top: 2px;
}
.icons ul li a{
    padding: 10px 13px;
    background-color: var(--blue);
    border-radius: 50%;
    margin: 10px;
    text-decoration: none;
}
.icons ul li a:hover{
    background-color: var(--gray-light);
}
.madewith{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    margin: 20px 0;
    text-align: center;
    color: var(--blue);
}